* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-div {
  text-align: center;
  padding: 2.5% 10%;
}

.border-style-div {
  border: 1px solid #f0f0ef;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header-block {
  padding: 1%;
  height: 12.5%;
  background-color: #f0f0ef;
}

.div-block {
  display: flex;
  height: 75%;
}

.aside-block {
  background-color: #ebfaff;
  flex: 25%;
}

.main-block {
  flex: 75%;
}

.footer-block {
  height: initial;
  height: 12.5%;
  padding: 20px;
  background-color: #f0f0ef;
}

.main-photo {
  height: initial;
  width: 100%;
  height: 63%;
  object-fit: cover;
}

.footer-logo {
  height: initial;
  height: 50%;
}

.section-block {
  height: initial;
  text-align: left;
  padding: 2% 0 0 2%;
}

.div-flex {
  display: flex;
  flex-direction: row;
}

.ul-block {
  padding-left: 2%;
}

h2 {
  height: initial;
}

p {
  height: initial;
}


